@import 'byrei-dyndiv_0.5.css';

#overseer {
 position: fixed !important;
 width: 800px;
 height: 200px;
 right: 10px;
 top: 160px;
 border: 1px solid #aaa;
 position: absolute;
 background-color: rgb(39, 40, 34);
 opacity: 0.9;
 color: #fff;
 border-radius: 8px 8px 0 0;
}

#overseer-move {
 text-align: center;
 color: #fff;
 background: linear-gradient(rgb(71, 72, 66), rgb(39, 40, 34));
 text-align: center;
 border-radius: inherit;
}

#overseer-content {
}

.dynDiv_resizeDiv_tl, .dynDiv_resizeDiv_tr, .dynDiv_resizeDiv_bl, .dynDiv_resizeDiv_br {
	opacity: 0;
}